<section class="container-fluid">
    <tomato-loading-indicator 
      ng-if="vm.loading" 
      text="Fetching tomato data..."
    />
    
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <tomato-chart 
              ng-if="!vm.loading" 
              data="vm.tomatoes" 
              type="Bar" 
              header="Tomato Yield by Season"
              horizontal-axis-label="Seasons"
              vertical-axis-label="Ounces"
            />
        </div>
        <div class="col-xs-12 col-sm-6">
                <tomato-chart
                  ng-if="!vm.loading" 
                  data="vm.tomatoes" 
                  type="Line" 
                  header="Tomato Revenue by Season"
                  horizontal-axis-label="Seasons"
                  vertical-axis-label="Revenue"
                />
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
          <!-- <tomato-tabs 
            ng-if="!vm.loading"
            tabsdata="vm.farms"
          /> -->
          <uib-tabset active="0">
              <uib-tab
                index="$index"
                ng-repeat="tabData in vm.farms track by $index"
                heading="{{tabData.Title}}"
                select="vm.setActiveTabIndex($index, tabData.Title)"
              />
          </uib-tabset>
          <tomato-grid data="vm.tomatoes"></tomato-grid>
          <!-- <tomato-grid 
                data="vm.tomatoes"
                list-view="vm.activeTabTitle"
          /> -->
        </div>
    </div>
</section>